<section id="features">
  <h2>D'autres solutions de facturation existent, mais Biloid vous aide à gérer de manière plus simple et efficace votre comptabilité :</h2>

  <div class="center-container spaced">
    <div class="feature-icon"><img src="/img/pig.svg" height="200" /></div>
    <div class="feature-icon"><img src="/img/wallet.svg" height="200" /></div>
    <div class="feature-icon"><img src="/img/secure.svg" height="200" /></div>
  </div>

  <div class="center-container spaced">
    <div class="feature-explanation">
      <h3>Ventes</h3>
      <p>Maecenas sed laoreet urna. Praesent eget tristique tortor. Suspendisse consequat sed turpis in mattis.</p>
    </div>

    <div class="feature-explanation">
      <h3>Achats</h3>
      <p>Maecenas sed laoreet urna. Praesent eget tristique tortor. Suspendisse consequat sed turpis in mattis.</p>
    </div>

    <div class="feature-explanation">
      <h3>Banques</h3>
      <p>Maecenas sed laoreet urna. Praesent eget tristique tortor. Suspendisse consequat sed turpis in mattis.</p>
    </div>
  </div>
</section>
