  <head>

    <!-- Website description -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Biloid, facturation, devis, gestion des frais et des pièces bancaires en ligne">
    <meta name="author" content="Thomas GALIBERT">

    <title>Biloid - Facturation en ligne</title>

    <!-- Stylesheets list -->
    <link rel="stylesheet" href="/css/main.css" type="text/css">

    <!-- Typekit font integration -->
    <script src="https://use.typekit.net/ytz6wox.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

  </head>

