<div class="main">
  <nav>
    <div class="logo-container">
      <img src="/img/logo_white.svg" />
    </div>

    <div class="menu-right-container">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Fonctionnalités</a></li>
        <li><a href="#">Prix</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">S'identifier</a></li>
      </ul>
    </div>
  </nav>

  <div class="hero-section">
    <h1>Biloid est un logiciel en ligne qui vous aide à gérer efficacement vos factures clients, fournisseurs et vos banques.</h1>

    <div class="center-container block">
      <a href="#prices">Connaître nos tarifs ?</a>
      <a href="#try">Essayer un mois gratuitement ?</a>
      <a href="#features">Voir toutes les fonctions ?</a>
    </div>

  </div>

</div>
